.home {
  background: linear-gradient(to bottom, transparent, #0F172A 100%), url(/background/vertical-shot-aurora-sky-hills-mountains-covered-with-snow-norway.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

.home-content {
  position: relative;
  z-index: 1;
}

.home h1 {
  font-size: 4rem;
  font-family: 'Story Script';
  font-weight: 200;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  align-self: flex-start;
  padding-left: 60px;
}

.home p {
  font-size: 1.5rem;
  margin: 30px 0 0 0;
  opacity: 0.9;
  text-align: center;
  padding-right: 20px;
}

.home h2 {
  font-size: 1.5rem;
  margin: 30px 0 0 0;
  opacity: 0.9;
  text-align: center;
  padding-left: 100px;
}
